.sidebar__sort {
  background-color: #5d6b9f;
  height: 52px;
  font-weight: bold;
  width: 100%;
  padding: 0 20px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar__sort h5 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: white;
}
.sidebar__sort img {
  width: 8px;
}
.sort__dropDownIcon {
  display: block;
}
.sort__dropDownIcon--hide {
  display: none;
}
.sort__dropUpIcon {
  display: none;
}
.sort__dropUpIcon--show {
  display: block;
}
.sidebar__sort--light {
  background-color: #9da9d5;
}
.sort--list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 10px 0;
  display: none;
  width: 100%;
}
.sort--listShow {
  display: block;
}
.sort--list li {
  width: 100%;
  height: 38px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 10px 35px;
  color: hsl(227deg 26% 39%);
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.sort--list li:hover {
  background-color: hsl(228deg 64% 56% / 10%);
}
.sort__listBorder {
  padding-bottom: 15px;
  border-bottom: solid 2px #d6d7de;
}
