.sideBar {
  width: 257px;
  height: 100vh;
  background-color: #ecedf5;
  display: flex;
  /* overflow-y: scroll;
  overflow-x: visible; */
}
.sideBar--modal {
  pointer-events: none;
}
.sidebar__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 950px) {
  .sideBar {
    display: none;
  }
  .sideBarScreen {
    display: flex;
    width: 100%;
    height: 100vh;
  }
}
