.signUp {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.signUp::before {
  content: "";
  background-image: url("../../media/logIn&signUpBackground.jpg");
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
}
.signUp__container {
  max-width: 413px;
  width: 100%;
  height: 700px;
  position: relative;
  background-color: white;
  box-shadow: 0 0 12px #6b6b6b;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUp__title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.signUp__title img {
  width: 51px;
  height: 30px;
}
.signUp__title h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #171717;
  text-transform: capitalize;
  padding-left: 60px;
  margin: 0;
}
.signUp__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUp__forgetPassword {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: rgba(59, 59, 59, 0.35);
  text-decoration: none;
  margin-top: 35px;
}
.signUp__container p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: rgba(59, 59, 59, 0.35);
  text-transform: capitalize;
  text-align: center;
  position: relative;
  margin: 30px 0;
}
.errorMessage {
  width: 85%;
  margin-top: 20px;
  color: red;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
}
#signUp__text {
  text-transform: none;
  margin: 20px 0 0 0;
}
strong {
  text-decoration: underline;
  cursor: pointer;
}
.icons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icons img {
  width: 30%;
  height: 100%;
}
@media only screen and (max-width: 450px) {
  .signUp__title {
    flex-direction: column;
    justify-content: center;
  }
  .signUp__title h3 {
    padding: 0;
    margin-top: 15px;
  }
}
