.searchError--hide {
  width: 100%;
  height: calc(100vh - 120px);
  display: none;
}
.searchError--displayed {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchError--displayed img {
  width: 20%;
}
.searchError--displayed h5 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #61d5df;
}
