.search {
  display: flex;
  max-width: 446px;
  width: 100%;
}
.search__input {
  width: 100%;
  height: 38px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  outline: 0;
  color: hsl(228deg 29% 23%);
  background-color: hsl(0deg 0% 100%);
  border: 1px solid hsl(219deg 10% 41% / 10%);
  border-right: none;
  border-radius: 8px 0 0 8px;
}
.search__button {
  width: 30px;
  height: 38px;
  padding: 0px;
  background-color: hsl(0deg 0% 100%);
  border: 1px solid hsl(219deg 10% 41% / 10%);
  border-left: none;
  border-radius: 0 8px 8px 0;
}
.search__button--searchIcon {
  width: 28px;
  padding-right: 5px;
}
.search__button--close {
  width: 30px;
  height: 38px;
  padding: 0px;
  background-color: hsl(0deg 0% 100%);
  border: 1px solid hsl(219deg 10% 41% / 10%);
  border-left: none;
  border-radius: 0 8px 8px 0;
  display: none;
}
.search__button--closeIcon {
  width: 20px;
  padding-right: 5px;
}
.searchShow__button {
  width: 40px;
  height: 40px;
  display: none;
  background-color: white;
  border: solid 1px #d1d4d7;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.searchShow__button img {
  width: 28px;
}
@media only screen and (max-width: 720px) {
  .search {
    justify-content: flex-end;
  }
  .search__input,
  .search__button {
    display: none;
  }
  .search__input--show,
  .search__button-show,
  .search__button--close--show {
    display: block;
  }
  .search__button {
    border-right: none;
  }
  .searchShow__button {
    display: flex;
  }
  .searchShow__button--hide {
    display: none;
  }
}
