.cartItems__wrapper {
  width: 100%;
  background-color: #f8f9fa;
}
.cartItems {
  width: 100%;
  height: calc(100vh - 200px);
  padding: 20px 50px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cartItems--hide {
  display: none;
}
.emptyCartIcon {
  width: 100%;
  height: calc(100vh - 200px);
  display: none;
  justify-content: center;
  align-items: center;
}
.emptyCartIcon--show {
  display: flex;
}
.emptyCartIcon img {
  width: 100px;
}

/*  */
table {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
tr,
td {
  text-align: center;
  padding: 8px;
}
th {
  height: 80px;
  font-size: 18px;
  color: hsl(234deg 44% 34%);
}
td {
  height: 100px;
  font-size: 16px;
  color: #737373;
  text-transform: uppercase;
  align-self: center;
}
tr:nth-child(even) {
  background-color: #afecf1;
}
.table__header--image,
.table__header--title,
.table__header--price {
  width: 20%;
}
.table__header--button {
  width: 10%;
}
/*  */

@media only screen and (max-width: 900px) {
  .cartItems .emptyCartIcon {
    height: calc(100vh - 245px);
  }
}
@media only screen and (max-width: 700px) {
  .cartItems .emptyCartIcon {
    height: calc(100vh - 280px);
  }
  th {
    font-size: 14px;
  }
  td {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .cartItems {
    padding: 20px;
  }
  .table__header--image {
    display: none;
  }
  th {
    font-size: 12px;
  }
  td {
    font-size: 10px;
  }
}
