.row__image img {
  width: 100px;
}
.cart__table--buttons {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row__quantity--wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row__qty--minus {
  max-width: 80px;
  width: 100%;
}
.row__qty--minus img {
  width: 30px;
}
.row__qty--plus {
  max-width: 80px;
  width: 100%;
}
.row__qty--plus img {
  width: 30px;
}
@media only screen and (max-width: 700px) {
  .row__image img {
    width: 40px;
  }
  .row__qty--minus img {
    width: 15px;
  }
  .row__qty--plus img {
    width: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .row__image {
    display: none;
  }
  .row__qty--minus img {
    width: 10px;
  }
  .row__qty--plus img {
    width: 10px;
  }
}
