.item__pricing {
  width: 80%;
  height: 45px;
  margin: 30px 10px;
  display: flex;
  justify-content: space-between;
}
.item__pricing--unit {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item__pricing--RRP {
  color: hsl(0deg 0% 38%);
}
.item__pricing--cost {
  color: hsl(0deg 0% 38%);
  padding-left: 12px;
  border-left: 1px solid #f0e4e4;
}
.item__pricing--profit {
  color: hsl(185deg 53% 57%);
  padding-left: 12px;
  border-left: 1px solid #f0e4e4;
}
.item__pricing--RRP span,
.item__pricing--cost span,
.item__pricing--profit span {
  display: block;
  color: hsl(0deg 0% 44%);
  opacity: 0.7;
  font-size: 14px;
  font-weight: 500;
  padding-top: 2px;
}
