.item {
  width: 100%;
  height: 471px;
  background-color: #ffffff;
  border: 2px solid hsl(233, 17%, 91%);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 1px 0 rgb(111 111 127 / 10%);
}
.item--modal {
  pointer-events: none;
  position: unset;
}
.item--selected {
  border: 2px solid #61d4df;
}
.item:hover {
  border: 2px solid #61d4df;
}
.item__loadingGif {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__loadingGif img {
  width: 100%;
}
.item__loadingGif--hide {
  display: none;
}
.item__image {
  width: 100%;
  height: 326px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__image img {
  max-width: 85%;
  max-height: 85%;
}
.item__title {
  width: 80%;
  padding: 15px 0 25px;
  height: 55px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__title h3 {
  text-transform: uppercase;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #888888;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.item__supplier {
  width: 80%;
  height: 18px;
  color: hsl(0deg 0% 44%);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.item__supplier a {
  font-size: 15px;
  color: hsl(185deg 53% 57%);
  text-decoration: underline;
}
.item__price--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:hover .item__addToCart,
.item:hover .item__checkbox {
  display: flex;
}
.item:hover .item__checkbox--hide {
  display: none;
}

/* select all */
.item__addToCart {
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
  justify-content: center;
}
.item__addToCart--modal {
  position: unset;
}
/* checkbox */
.item__checkbox {
  position: absolute;
  display: none;
  top: 10px;
  left: 10px;
}
.item__checkbox--checked {
  display: block;
}
.item__checkbox--modal {
  position: unset;
}
/* Customize the label (the container) */
.container {
  display: block;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkMark {
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid rgb(204, 201, 201);
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkMark {
  background-color: rgb(248, 245, 245);
  border: none;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkMark {
  background-color: #61d5df;
  border: none;
}
.container--modal input:checked ~ .checkMark {
  position: relative;
}

/* Create the checkMark/indicator (hidden when not checked) */
.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkMark when checked */
.container input:checked ~ .checkMark:after {
  display: block;
}

/* Style the checkMark/indicator */
.container .checkMark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
