.profilePageMain {
  width: 100%;
  height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  overflow-y: scroll;
}
.profilePageMain__form--wrapper {
  width: 90%;
  height: fit-content;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.infoUpdate__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoUpdate__form--wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.infoUpdate__form--wrapper h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #afb3b6;
  text-transform: uppercase;
  align-self: flex-start;
  padding-left: 10px;
}
.userInfoUpdate {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.changePersonalInfo {
  background-color: #f8f9fa;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  border-radius: 7px;
}
.changeContactInfo {
  background-color: #f8f9fa;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  border-radius: 7px;
}
.userPasswordUpdate {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.changePasswordInfo {
  background-color: #f8f9fa;
  width: 100%;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  border-radius: 7px;
}
.errorMessage {
  width: 85%;
  margin-top: 20px;
  color: red;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
}
/* material */
.MuiOutlinedInput-root {
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  .infoUpdate__form--wrapper {
    flex-direction: column;
    padding: 10px;
  }
  .infoUpdate__form--wrapper h3 {
    font-size: 18px;
    align-self: center;
    padding: 0;
  }
  .userInfoUpdate,
  .userPasswordUpdate {
    width: 100%;
    margin: 0px;
  }
  .changePasswordInfo {
    height: 100px;
  }
  .makeStyles-updateButton-2 {
    width: 50% !important;
    margin: 20px 0 20px 0 !important;
    align-self: center !important ;
  }
}
@media only screen and (max-width: 500px) {
  .infoUpdate__form--wrapper h3 {
    font-size: 16px;
  }
  .updateButton {
    width: 80% !important;
    margin: 20px 0 !important;
    align-self: center !important ;
  }
}
