.addProductButton {
  max-width: 120px;
  width: 100%;
  height: 40px;
  margin-left: 8px;
  background-color: #61d5df;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  text-align: center;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.addProductButton--show {
  display: flex;
}
