.addProductButtonSmall {
  max-width: 48px;
  width: 100%;
  height: 40px;
  margin-left: 10px;
  background-color: #61d5df;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  text-align: center;
  display: none;
}
.addProductButtonSmall img {
  width: 20px;
}

@media only screen and (max-width: 800px) {
  .addProductButtonSmall--show {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addProductButtonSmall--hide {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .addProductButtonSmall {
    margin-left: 5px;
  }
}
