.addToCartButton {
  max-width: 150px;
  width: 100%;
  height: 40px;
  margin-left: 10px;
  background-color: #61d5df;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.addToCartButton--hide {
  display: none;
}

.addToCartButton--itemHover {
  margin: 0;
  text-transform: none;
  font-size: 14px;
}
.addToCartButton--modal {
  max-width: 244px;
  width: 100%;
  height: 43px;
  border-radius: 4px;
  background-color: hsl(185deg 66% 63%);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: hsl(0deg 0% 100%);
  text-transform: capitalize;
}

/* @media only screen and (max-width: 1580px) {
  .addToCartButton {
    font-size: 10px;
    margin-left: 4px;
    font-weight: 400;
  }
} */
