.backToShoppingButton {
  height: 38px;
  width: 211px;
  background: hsl(185deg 66% 63%);
  color: hsl(0deg 0% 100%);
  font-weight: 600;
  text-align: center;
  border: 1px solid hsl(185deg 66% 63%);
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
}
