.clearSelectedButton {
  display: none;
  width: 125px;
  height: 34px;
  margin-left: 16px;
  background-color: #61d5df;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: hsl(0deg 0% 100%);
  cursor: pointer;
}
.clearSelectedButton--show {
  display: block;
}

@media only screen and (max-width: 1050px) {
  .clearSelectedButton--show {
    display: none;
  }
}
