.deleteProductButton {
  width: 45px;
  height: 40px;
  margin-right: 5px;
  background-color: #cf2828;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}
.deleteProductButton img {
  width: 20px;
}
.deleteProductButton--show {
  display: flex;
}
