.editProductButton {
  width: 45px;
  height: 40px;
  margin-right: 5px;
  background-color: #61d5df;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}
.editProductButton img {
  width: 20px;
}
.editProductButton--show {
  display: flex;
}
