.emptyCartButton {
  width: 130px;
  height: 35px;
  margin-right: 16px;
  background-color: #61d5df;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyCartButton--small {
  width: 50px;
  display: none;
}
.emptyCartButton__icon {
  width: 20px;
}

@media only screen and (max-width: 600px) {
  .emptyCartButton--small {
    display: flex;
  }
  .emptyCartButton--large {
    display: none;
  }
}
