.filterButton {
  width: 52;
  height: 32px;
  border-radius: 5px;
  background-color: #61d5df;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  padding: 0 14px;
  margin-right: 10px;
  display: none;
}
.filterButton__icon {
  width: 20px;
}

@media only screen and (max-width: 950px) {
  .filterButton--large {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .filterButton {
    width: 40px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filterButton--large {
    display: none;
  }
  .filterButton--small {
    display: block;
  }
}
