.removeFromCartButton {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.removeFromCartButton img {
  width: 25px;
}
@media only screen and (max-width: 700px) {
  .removeFromCartButton img {
    width: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .removeFromCartButton img {
    width: 15px;
  }
}
