.selectAllAndDeselectButton {
  width: 40px;
  height: 32px;
  background-color: #61d5df;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  margin-left: 10px;
}
.selectAllAndDeselectButton img {
  width: 18px;
}

@media only screen and (max-width: 1150px) {
  .selectAllAndDeselectButton {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  .selectAllAndDeselectButton {
    margin-left: 5px;
  }
}
