.selectAllButton {
  width: 91px;
  height: 32px;
  margin-right: 16px;
  background-color: #61d5df;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 1150px) {
  .selectAllButton {
    display: none;
  }
}
