.sidebarBackButton {
  width: 95%;
  height: 36px;
  margin-top: 20px;
  background-color: #49547d;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.sidebarBackButton img {
  width: 30px;
  height: 20px;
  padding-right: 10px;
}
.sidebarBackButton span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.sidebarBackButton--show {
  display: flex;
}
