.logOutButton {
  width: 132px;
  height: 40px;
  border-radius: 4px;
  background-color: hsl(218deg 79% 95%);
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: none;
  color: hsl(218deg 84% 61%);
  text-transform: uppercase;
  margin-right: 73px;
}
.logOutButton--small {
  display: none;
}
.logOutButton__icon {
  width: 20px;
}

@media only screen and (max-width: 600px) {
  .logOutButton {
    width: 40px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logOutButton--large {
    display: none;
  }
  .logOutButton--small {
    margin-right: 20px;
    display: block;
  }
}
@media only screen and (max-width: 400px) {
  .logOutButton--small {
    margin-right: 10px;
  }
}
