.header__upperSection {
  width: 100%;
  height: 74px;
  padding: 0 100px 0 50px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 1300px) {
  .header__upperSection {
    padding: 0 30px 0 40px;
  }
}
@media only screen and (max-width: 500px) {
  .header__upperSection {
    padding: 0 10px 0 15px;
  }
}
