.header__search-addToInventory {
  max-width: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.buttons__wrapper {
  max-width: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons__wrapper--admin {
  max-width: 300px;
}
.buttons__wrapper--hide {
  display: none;
}

@media only screen and (max-width: 800px) {
  .buttons__wrapper {
    display: none;
  }
}
