.profileHeader {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid rgb(194, 193, 193);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 0 0 white;
  padding: 0 100px 0 50px;
}
.profileHeader__title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileHeader__title h2 {
  height: 18px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: hsl(227deg 28% 26%);
  margin-left: 20px;
}
.profileHeader__burgerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1600px) {
  .profileHeader {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 400px) {
  .profileHeader {
    padding: 0 10px;
  }
}
