.cartHeaderUpperSection {
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cartHeader__burgerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .cartHeaderUpperSection {
    margin-bottom: 25px;
  }
}
