.cartQTY {
  padding-left: 12px;
  width: 220px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #30387b;
  border-left: 1px solid #30387b;
  display: flex;
  flex-wrap: nowrap;
}
.cartQTY--small {
  display: none;
}
@media only screen and (max-width: 500px) {
  .cartQTY {
    width: 100px;
  }
  .cartQTY--large {
    display: none;
  }
  .cartQTY--small {
    display: block;
  }
}
