.cartInfo {
  width: 100%;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartInfo__details {
  max-width: 1770;
  width: 100%;
  height: 115px;
  padding: 25px 50px;
  margin-top: 25px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartInfo__total--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartInfo__orderTotal {
  margin-right: 38px;
  width: 220px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #30387b;
  border-right: 1px solid #30387b;
  display: flex;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .cartInfo__details {
    height: 160px;
  }
  .cartInfo__total--wrapper {
    flex-direction: column;
  }
  .cartInfo__orderTotal {
    margin: 0 0 20px 0;
    border: none;
  }
}

@media only screen and (max-width: 700px) {
  .cartInfo__details {
    height: 250px;
    flex-direction: column;
  }
  .cartInfo__total--wrapper {
    flex-direction: column;
  }
  .cartInfo__orderTotal {
    margin: 20px 0;
    border: none;
  }
}
