.cartHeader {
  width: 100%;
  height: 200px;
  padding: 0 100px 0 50px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartHeader__emptyCart {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1600px) {
  .cartHeader {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 900px) {
  .cartHeader {
    height: 245px;
  }
}
@media only screen and (max-width: 700px) {
  .cartHeader {
    height: 280px;
  }
}
