.burgerMenu {
  display: none;
  width: 45px;
  height: 100%;
  cursor: pointer;
  margin-left: 15px;
}

.burgerMenu__bar {
  width: 24px;
  height: 3px;
  background-color: #61d5df;
  margin: 4px 0 0 0;
  transition: 0.4s;
}

.burgerMenu__bar1 {
  margin: 0;
}

.burgerMenu__bar2 {
  align-self: flex-start;
  width: 20px;
}

/* Rotate first bar */
.change .burgerMenu__bar1 {
  height: 2px;
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px);
}

/* Fade out the second bar */
.change .burgerMenu__bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .burgerMenu__bar3 {
  height: 2px;
  -webkit-transform: rotate(45deg) translate(-4px, -5px);
  transform: rotate(45deg) translate(-4px, -5px);
}

@media only screen and (max-width: 1200px) {
  .burgerMenu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .burgerMenu {
    margin-left: 10px;
  }
}
