.fakeDropDown__wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.fakeDropDown {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}
.fakeDropDown span {
  padding-left: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
  color: hsl(228deg 29% 23%);
}
.fakeDropDown img {
  padding-right: 12px;
  width: 20px;
}
