.nav {
  width: 53px;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.nav__logo {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 28px 0 23px 0;
  width: 100%;
  border-bottom: 1px solid rgb(194, 193, 193);
  box-shadow: 0 2px 0 0 white;
}
.nav__logo img {
  width: 39px;
}
.nav__list {
  width: 100%;
  height: 435px;
  padding: 15px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.nav__item {
  list-style-type: none;
  width: 100%;
  height: 42px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
.nav__item img {
  width: 100%;
}
.nav__item--profile a {
  width: 30px;
}
.nav__item--profile img {
  border-radius: 100%;
  border: 2px solid #61d5df;
}
.nav__item--dashboard a {
  width: 23px;
}
.nav__item--catalog a {
  width: 21px;
}

/* hovering */
.nav__itemIcon--hover {
  display: none;
}
.nav__item--dashboard:hover .nav__itemIcon--regular {
  display: none;
}
.nav__item--dashboard:hover .nav__itemIcon--hover {
  display: block;
}
.nav__item--catalog:hover .nav__itemIcon--regular {
  display: none;
}
.nav__item--catalog:hover .nav__itemIcon--hover {
  display: block;
}
.nav__item--inventory:hover .nav__itemIcon--regular {
  display: none;
}
.nav__item--inventory:hover .nav__itemIcon--hover {
  display: block;
}
.nav__item--cart:hover .nav__itemIcon--regular {
  display: none;
}
.nav__item--cart:hover .nav__itemIcon--hover {
  display: block;
}
.nav__item--orders:hover .nav__itemIcon--regular {
  display: none;
}
.nav__item--orders:hover .nav__itemIcon--hover {
  display: block;
}
.nav__item--transactions:hover .nav__itemIcon--regular {
  display: none;
}
.nav__item--transactions:hover .nav__itemIcon--hover {
  display: block;
}
.nav__item--storesList:hover .nav__itemIcon--regular {
  display: none;
}
.nav__item--storesList:hover .nav__itemIcon--hover {
  display: block;
}

/* drawer */
.navDrawer {
  width: 200px;
  padding-top: 28px;
  height: 648px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.navDrawer__logo {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 0 10px 0;
  width: 100%;
  border-bottom: 1px solid rgb(194, 193, 193);
}
.navDrawer__logo img {
  width: 56px;
  height: 29px;
}
.navDrawer__list {
  width: 100%;
  height: 427px;
  padding: 30px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.navDrawer__item {
  list-style-type: none;
  width: 100%;
  height: 43px;
  /* margin-top: 10px;  */
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navDrawer__item--title {
  display: none;
  color: #49547d;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  opacity: 0.8;
}

@media only screen and (max-width: 1200px) {
  .nav__hide {
    display: none;
  }
  .nav__drawer {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  .navDrawer__item--title {
    display: block;
  }
  .navDrawer__item {
    padding: 0 20px;
  }
  .navDrawer__item a {
    width: 100%;
    justify-content: space-between;
  }
  .navDrawer__item img {
    width: 22px;
  }
}
@media only screen and (min-width: 1050px) {
  .nav__drawer {
    display: none;
  }
}
