.selectAll__productsCount {
  padding-left: 12px;
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #565b71;
  border-left: 1px solid #dbdcdc;
  display: flex;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1300px) {
  .selectAll__productsCount {
    width: 100px;
  }
  .selectAll__productsCount :first-child {
    display: none;
  }
}
@media only screen and (max-width: 1050px) {
  .selectAll__productsCount {
    width: 90px;
    border: none;
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  .selectAll__productsCount {
    display: none;
  }
}
