.header__sort {
  /* height: 120px; */
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  background-color: white;
  border-bottom: 1px solid #f8f9fa;
  padding: 0 100px 0 50px;
}
.header__sort img {
  width: 15px;
  margin-right: 5px;
  opacity: 0.4;
}
#sort {
  background-color: transparent;
  border: none;
  font-family: Arial;
  font-weight: 400;
  color: #b0a4ad;
  font-size: 15px;
  outline: none;
}

@media only screen and (max-width: 780px) {
  .header__sort {
    padding: 0;
    justify-content: center;
  }
}
