.landingPageBurgerMenu {
  display: none;
  width: 45px;
  height: 100%;
  cursor: pointer;
  margin-right: 15px;
}
.landingPageBurgerMenu__bar {
  width: 25px;
  height: 2px;
  background-color: hsl(185deg 66% 63%);
  margin: 5px 0 0 0;
  transition: 0.4s;
}
.landingPageBurgerMenu__bar1 {
  margin: 0;
}

/* drawer */
.landingPageDrawer {
  width: 200px;
  height: 100vh;
  background-color: #222430;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.landingPageDrawer__closeIcon {
  width: 100%;
  height: 50px;
  padding: 20px 0 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.landingPageDrawer__closeIcon img {
  width: 15px;
}
.landingPageDrawer__list {
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: hsl(0deg 0% 100%);
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.landingPageDrawer__list li:hover {
  color: #57585f;
}

@media only screen and (max-width: 1050px) {
  .landingPageBurgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .change {
    display: none;
  }
}
