.landingPageHeader {
  width: 100%;
  height: 60px;
  background-color: hsl(228deg 27% 19% / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingPageHeader__container {
  max-width: 1110px;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.landingPageHeader__logo {
  width: 108px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.landingPageHeader__navigation {
  max-width: 973px;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__list li {
  cursor: pointer;
  margin-right: 1px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: hsl(0deg 0% 100%);
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  padding: 20px 13px;
  text-transform: uppercase;
}
.landingPageHeader__signUpButton {
  margin: 0 1px 0 0;
  width: 122px;
  height: 38px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  border: solid 2px hsl(185deg 66% 63%);
  color: hsl(185deg 66% 63%);
  background-color: transparent;
}
.landingPageHeader__signUpButton--icon {
  margin: 0 1px 0 0;
  width: 50px;
  height: 38px;
  border-radius: 4px;
  border: solid 2px hsl(185deg 66% 63%);
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
}
.landingPageHeader__signUpButton--icon img {
  width: 20px;
}
.landingPageHeader__logInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px 0 0;
  width: 80px;
  height: 38px;
  padding: 20px 13px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  color: hsl(185deg 66% 63%);
  background-color: transparent;
}
.landingPageHeader__logInButton--icon {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0 1px 0 0;
  width: 50px;
  height: 38px;
  padding: 20px 13px;
  border: none;
  background-color: transparent;
}
.landingPageHeader__logInButton--icon img {
  width: 20px;
}
.landingPageHeader__facebook {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingPageHeader__facebookIcon--white {
  width: 15px;
}
.landingPageHeader__facebookIcon {
  width: 25px;
  display: none;
}
.landingPageHeader__facebook:hover .landingPageHeader__facebookIcon--white {
  display: none;
}
.landingPageHeader__facebook:hover .landingPageHeader__facebookIcon {
  display: block;
}

@media only screen and (max-width: 1050px) {
  .navigation__list {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .landingPageHeader__signUpButton--icon,
  .landingPageHeader__logInButton--icon {
    display: flex;
  }
  .landingPageHeader__signUpButton,
  .landingPageHeader__logInButton {
    display: none;
  }
}
